/*main site stuff  */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,300&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;

  width: 90%;
  display: grid;

  grid-template-columns: auto 80% auto;
  grid-template-rows: 400px auto 100px;
}

header {
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 1;
  grid-row-end: 2;
}

footer {
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 3;
  grid-row-end: 4;
}

section {
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 2;
  grid-row-end: 3;
}

/*-------------------------------------------- examples -------------------------------------------------*/

/*  rotation CSS  */

svg {
  border: 2px solid black;
  border-radius: 10px;
}

#rotWrong {
  animation: myRotation 1s infinite linear;
}

#rotRight {
  transform-box: fill-box;
  transform-origin: center;

  animation: myRotation 1s infinite linear;
}

@keyframes myRotation {
  99% {
    transform: rotate(359deg);
  }
}
